{% extends 'base.html' %}

{% block main %}
<h1>Search</h1>

<div>
  <form action="/search" method="GET">
    <div class="form-row align-items-center">
      <div class="col-sm-10 my-1">
        <label class="sr-only" for="search">Search terms</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Search terms</div>
          </div>
          {% if route_details.params.search_string %}
            <input type="text" class="form-control" id="search" name="search" placeholder="charity" value="{{route_details.params.search_string}}">
          {% else %}
            <input type="text" class="form-control" id="search" name="search" placeholder="charity">
          {% endif %}
        </div>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form></div>
{% if data %}
<hr>
<p>
  Here are some results for <strong>{{route_details.params.search_string}}</strong>
</p>
<div>
<ul>
{% for item in data['items'] %}
  <li><a href='{{item.url}}'>{{item.title}}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
